$adminbar-height-desktop: 32px;
$adminbar-height-mobile: 46px;

/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,600&display=swap');

$font-serif: 'Vollkorn', serif;
$font-sans-serif: 'Montserrat', sans-serif;
$font-header: $font-serif;

/* COLORS */
$gray: #dedfe1;
$pink: #fd5757;
$green: #205a41;
$cocoa: #bb8d81;
$paper: #F4F4F4;
$charcoal: #101820;

$theme-colors: (
    'primary': $green,
    'secondary': $pink,
    'info': $cocoa,
    'light': $gray,
    'dark': $charcoal,
);

@function theme-color($key: 'primary') {
    @return map-get($theme-colors, $key);
}

/* BREAKPOINTS */
:root {
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}