h2.woocommerce-loop-product__title {
    font-family: $font-serif;
    font-style: italic;
    font-size: initial !important;
    color: darken(theme-color('light'), 50%);
    text-align: center;
    &:after {
        content: none;
    }
}

.product_type_simple {
    display: none !important;
}

.woocommerce-result-count,
.product_title.entry-title,
.related.products>h2 {
    font-family: $font-serif;
    font-size: 1.75rem !important;
    font-weight: bolder;
    color: theme-color('primary');
    position: relative;
    &:after {
        content: '';
        position: absolute;
        bottom: -.5rem;
        left: 0;
        height: 0.35rem;
        width: 120px;
        background-color: theme-color('info');
    }
}

.related.products {
    background-color: lighten(theme-color('info'), 30%);
    padding: 1rem 0;
}